<div class="row">
    <div class="form-group">
                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs slk"
                        title="Swtiching Watch Mode ON, searches users dynamically as you type" 
                        (click)="changePressed(); ClearFields()"> Watch Mode</a>
                    </div>

                        <span style="color:#f9f9f9" *ngIf="count==1">
                                ON
                        </span>

                        <span style="color:#f9f9f9" *ngIf="count==0">
                                OFF
                        </span>
                <br>
                <br>
                         
                        
            <input class="clearable" id="searchField" placeholder="Enter Github username..."
            [(ngModel)]="username" name="username" (keyup)="searchUser()">
        <button *ngIf="count==0" class="btn btn-default" type="button" (click)="go()">Go!</button>

           
    </div>
</div>

<div *ngIf="userDetails">
       <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> <strong> {{userDetails.name}} </strong></h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-rounded img-responsive" src="{{userDetails.avatar_url}}"> 
                    <a class="btn btn-default btn-block" target="_blank"
                    href="{{userDetails.html_url}}"> View profile </a>
                </div>

                <div class="stats">
                    <div class="col-md-9">
                        <span class="label label-default"> Public Repos {{userDetails.public_repos}}</span>
                        <span class="label label-primary"> Gists {{userDetails.public_gists}}</span>
                        <span class="label label-success"> Followers {{userDetails.followers}}</span>
                        <span class="label label-info"> Following {{userDetails.following}}</span>                     
                    </div>
                    <br>
                    <br>
                    <div class="col-md-8">
                        <ul class="list-group">
                        <li *ngIf="userDetails.name" class="list-group-item"><strong> Username: </strong> {{userDetails.login}}</li>
                        <li *ngIf="userDetails.email" class="list-group-item"><strong> Email: </strong> <a href="mailto:{{userDetails.email}}">{{userDetails.email}}</a></li>
                        <li *ngIf="userDetails.location" class="list-group-item"><strong> Location: </strong> {{userDetails.location}}</li>
                        <li *ngIf="userDetails.blog" class="list-group-item"><strong> Blog: </strong> <a href="{{visitBlog()}}" target="_blank">{{userDetails.blog}}</a> </li>
                        <li *ngIf="userDetails.created_at" class="list-group-item"><strong> Member Since: </strong> {{createDate(userDetails.created_at.substr(0,10))}}</li>
                        <li *ngIf="userDetails.created_at" class="list-group-item"><strong> Last Updated at: </strong> {{createDate(userDetails.updated_at.substr(0,10))}}</li>
                      
                        </ul>
                    </div>
                </div>


            </div>
        </div>
       </div>

       <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> User Repos </h3>
            </div>

            <div class="panel-body">
                <div *ngFor="let repo of repos">
                     <div class="row">
                    <div class="col-md-9">
                        <h4><a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a></h4>
                        <p>{{repo.description}}</p>
                    </div>
                    <div class="col-md-3">
                        <span class="label label-default">{{repo.watchers}} Watchers</span>
                        <span class="label label-primary">{{repo.forks}} Forks</span>
                    </div>  
                  </div>
                  <hr>
                </div>
            </div>
       
       </div>

</div>